.elementor-widget-heading.elementor-widget-heading .elementor-heading-title {color: #1569ae;}
.elementor-widget-heading .elementor-heading-title {font-family: "Roboto",Yu Gothic;font-weight: 600;}
.elementor-widget-image .widget-image-caption {color: #545454;font-family: "Port Lligat Slab",Yu Gothic;font-weight: 500;}
.elementor-widget-text-editor {color: #545454;font-family: "Port Lligat Slab",Yu Gothic;font-weight: 500;}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {background-color: #1569ae;}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {color: #1569ae;border-color: #1569ae;}
.elementor-widget-button a.elementor-button, .elementor-widget-button .elementor-button {font-family: "Roboto",Yu Gothic;font-weight: 500;background-color: #fdd247;}
.elementor-widget-divider .elementor-divider-separator {border-top-color: #545454;}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-title {color: #1569ae;font-family: "Roboto",Yu Gothic;font-weight: 600;}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-description {color: #545454;font-family: "Port Lligat Slab",Yu Gothic;font-weight: 500;}
.elementor-widget-icon.elementor-view-stacked .elementor-icon {background-color: #1569ae;}
.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon {color: #1569ae;border-color: #1569ae;}
.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {background-color: #1569ae;}
.elementor-widget-icon-box.elementor-view-framed .elementor-icon, .elementor-widget-icon-box.elementor-view-default .elementor-icon {color: #1569ae;border-color: #1569ae;}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-title {color: #1569ae;font-family: "Roboto",Yu Gothic;font-weight: 600;}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-description {color: #545454;font-family: "Port Lligat Slab",Yu Gothic;font-weight: 500;}
.elementor-widget-image-gallery .gallery-item .gallery-caption {font-family: "Roboto",Yu Gothic;font-weight: 500;}
.elementor-widget-image-carousel .elementor-image-carousel-caption {font-family: "Roboto",Yu Gothic;font-weight: 500;}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {border-color: #545454;}
.elementor-widget-icon-list .elementor-icon-list-icon i {color: #1569ae;}
.elementor-widget-icon-list .elementor-icon-list-text {color: #b6c9db;}
.elementor-widget-icon-list .elementor-icon-list-item {font-family: "Port Lligat Slab",Yu Gothic;font-weight: 500;}
.elementor-widget-counter .elementor-counter-number-wrapper {color: #1569ae;font-family: "Roboto",Yu Gothic;font-weight: 600;}
.elementor-widget-counter .elementor-counter-title {color: #b6c9db;font-family: "Roboto Slab",Yu Gothic;font-weight: 400;}
.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar {background-color: #1569ae;}
.elementor-widget-progress .elementor-title {color: #1569ae;font-family: "Port Lligat Slab",Yu Gothic;font-weight: 500;}
.elementor-widget-testimonial .elementor-testimonial-content {color: #545454;font-family: "Port Lligat Slab",Yu Gothic;font-weight: 500;}
.elementor-widget-testimonial .elementor-testimonial-name {color: #1569ae;font-family: "Roboto",Yu Gothic;font-weight: 600;}
.elementor-widget-testimonial .elementor-testimonial-job {color: #b6c9db;font-family: "Roboto Slab",Yu Gothic;font-weight: 400;}
.elementor-widget-tabs .elementor-tab-title {color: #1569ae;font-family: "Roboto",Yu Gothic;font-weight: 600;}
.elementor-widget-tabs .elementor-tab-title.elementor-active {color: #fdd247;}
.elementor-widget-tabs .elementor-tab-content {color: #545454;font-family: "Port Lligat Slab",Yu Gothic;font-weight: 500;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title {color: #1569ae;font-family: "Roboto",Yu Gothic;font-weight: 600;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title.elementor-active {color: #fdd247;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-content {color: #545454;font-family: "Port Lligat Slab",Yu Gothic;font-weight: 500;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title {color: #1569ae;font-family: "Roboto",Yu Gothic;font-weight: 600;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title.elementor-active {color: #fdd247;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-content {color: #545454;font-family: "Port Lligat Slab",Yu Gothic;font-weight: 500;}
.elementor-widget-alert .elementor-alert-title {font-family: "Roboto",Yu Gothic;font-weight: 600;}
.elementor-widget-alert .elementor-alert-description {font-family: "Port Lligat Slab",Yu Gothic;font-weight: 500;}
.elementor-widget-standard-table .table-cell.first-column h3.column-table-title {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;}
.elementor-widget-standard-table .table-cell.first-column a.btn {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;background-color: #1569ae;}
.elementor-widget-standard-table .table-cell.second-column h3.column-table-title {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;}
.elementor-widget-standard-table .table-cell.second-column a.btn {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;background-color: #1569ae;}
.elementor-widget-standard-table .table-cell.cell-feature {color: #1569ae;background-color: #1569ae;outline: 1px solid #1569ae;font-family: "Roboto",Yu Gothic;font-weight: 600;}
.elementor-widget-standard-table .table-cell.first-column {background-color: #1569ae;}
.elementor-widget-standard-table #el-tables .table-cell:nth-child(2) {outline: 1px solid #1569ae;}
.elementor-widget-standard-table .table-cell.first-column a.btn:hover {color: #1569ae;background-color: #1569ae;border-color: #1569ae;}
.elementor-widget-standard-table .table-cell.first-icon i {color: #1569ae;}
.elementor-widget-standard-table .table-cell.first-icon p {color: #1569ae;}
.elementor-widget-standard-table .table-cell.first-icon {background-color: #1569ae;outline: 1px solid #1569ae;}
.elementor-widget-standard-table .table-cell.second-column {background-color: #1569ae;}
.elementor-widget-standard-table #el-tables .table-cell:nth-child(3) {outline: 1px solid #1569ae;}
.elementor-widget-standard-table .table-cell.second-column a.btn:hover {color: #1569ae;background-color: #1569ae;border-color: #1569ae;}
.elementor-widget-standard-table .table-cell.second-icon i {color: #1569ae;}
.elementor-widget-standard-table .table-cell.second-icon p {color: #1569ae;}
.elementor-widget-standard-table .table-cell.second-icon {background-color: #1569ae;outline: 1px solid #1569ae;}
.elementor-widget-tripple-table .table-cell.first-column h3.column-table-title {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;}
.elementor-widget-tripple-table .table-cell.first-column a.btn {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;background-color: #1569ae;}
.elementor-widget-tripple-table .table-cell.second-column h3.column-table-title {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;}
.elementor-widget-tripple-table .table-cell.second-column a.btn {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;background-color: #1569ae;}
.elementor-widget-tripple-table .table-cell.third-column h3.column-table-title {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;}
.elementor-widget-tripple-table .table-cell.third-column a.btn {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;background-color: #1569ae;}
.elementor-widget-tripple-table .table-cell.cell-feature {color: #1569ae;background-color: #1569ae;outline: 1px solid #1569ae;font-family: "Roboto",Yu Gothic;font-weight: 600;}
.elementor-widget-tripple-table .table-cell.first-column {background-color: #1569ae;}
.elementor-widget-tripple-table #el-tables-tripple .table-cell:nth-child(2) {outline: 1px solid #1569ae;}
.elementor-widget-tripple-table .table-cell.first-column a.btn:hover {color: #1569ae;background-color: #1569ae;border-color: #1569ae;}
.elementor-widget-tripple-table .table-cell.first-icon i {color: #1569ae;}
.elementor-widget-tripple-table .table-cell.first-icon p {color: #1569ae;}
.elementor-widget-tripple-table .table-cell.first-icon {background-color: #1569ae;outline: 1px solid #1569ae;}
.elementor-widget-tripple-table .table-cell.second-column {background-color: #1569ae;}
.elementor-widget-tripple-table #el-tables-tripple .table-cell:nth-child(3) {outline: 1px solid #1569ae;}
.elementor-widget-tripple-table .table-cell.second-column a.btn:hover {color: #1569ae;background-color: #1569ae;border-color: #1569ae;}
.elementor-widget-tripple-table .table-cell.second-icon i {color: #1569ae;}
.elementor-widget-tripple-table .table-cell.second-icon p {color: #1569ae;}
.elementor-widget-tripple-table .table-cell.second-icon {background-color: #1569ae;outline: 1px solid #1569ae;}
.elementor-widget-tripple-table .table-cell.third-column {background-color: #1569ae;}
.elementor-widget-tripple-table #el-tables-tripple .table-cell:nth-child(4) {outline: 1px solid #1569ae;}
.elementor-widget-tripple-table .table-cell.third-column a.btn:hover {color: #1569ae;background-color: #1569ae;border-color: #1569ae;}
.elementor-widget-tripple-table .table-cell.third-icon i {color: #1569ae;}
.elementor-widget-tripple-table .table-cell.third-icon p {color: #1569ae;}
.elementor-widget-tripple-table .table-cell.third-icon {background-color: #1569ae;outline: 1px solid #1569ae;}
.elementor-widget-quad-table .table-cell.first-column h3.column-table-title {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;}
.elementor-widget-quad-table .table-cell.first-column a.btn {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;background-color: #1569ae;}
.elementor-widget-quad-table .table-cell.second-column h3.column-table-title {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;}
.elementor-widget-quad-table .table-cell.second-column a.btn {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;background-color: #1569ae;}
.elementor-widget-quad-table .table-cell.third-column h3.column-table-title {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;}
.elementor-widget-quad-table .table-cell.third-column a.btn {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;background-color: #1569ae;}
.elementor-widget-quad-table .table-cell.fourth-column a.btn {font-family: "Roboto",Yu Gothic;font-weight: 600;color: #1569ae;background-color: #1569ae;}
.elementor-widget-quad-table .table-cell.cell-feature {color: #1569ae;background-color: #1569ae;outline: 1px solid #1569ae;font-family: "Roboto",Yu Gothic;font-weight: 600;}
.elementor-widget-quad-table .table-cell.first-column {background-color: #1569ae;}
.elementor-widget-quad-table #el-tables-quad .table-cell:nth-child(2) {outline: 1px solid #1569ae;}
.elementor-widget-quad-table .table-cell.first-column a.btn:hover {color: #1569ae;background-color: #1569ae;border-color: #1569ae;}
.elementor-widget-quad-table .table-cell.first-icon i {color: #1569ae;}
.elementor-widget-quad-table .table-cell.first-icon p {color: #1569ae;}
.elementor-widget-quad-table .table-cell.first-icon {background-color: #1569ae;outline: 1px solid #1569ae;}
.elementor-widget-quad-table .table-cell.second-column {background-color: #1569ae;}
.elementor-widget-quad-table #el-tables-quad .table-cell:nth-child(3) {outline: 1px solid #1569ae;}
.elementor-widget-quad-table .table-cell.second-column a.btn:hover {color: #1569ae;background-color: #1569ae;border-color: #1569ae;}
.elementor-widget-quad-table .table-cell.second-icon i {color: #1569ae;}
.elementor-widget-quad-table .table-cell.second-icon p {color: #1569ae;}
.elementor-widget-quad-table .table-cell.second-icon {background-color: #1569ae;outline: 1px solid #1569ae;}
.elementor-widget-quad-table .table-cell.third-column {background-color: #1569ae;}
.elementor-widget-quad-table #el-tables-quad .table-cell:nth-child(4) {outline: 1px solid #1569ae;}
.elementor-widget-quad-table .table-cell.third-column a.btn:hover {color: #1569ae;background-color: #1569ae;border-color: #1569ae;}
.elementor-widget-quad-table .table-cell.third-icon i {color: #1569ae;}
.elementor-widget-quad-table .table-cell.third-icon p {color: #1569ae;}
.elementor-widget-quad-table .table-cell.third-icon {background-color: #1569ae;outline: 1px solid #1569ae;}
.elementor-widget-quad-table .table-cell.fourth-column {background-color: #1569ae;}
.elementor-widget-quad-table #el-tables-quad .table-cell:nth-child(5) {outline: 1px solid #1569ae;}
.elementor-widget-quad-table .table-cell.fourth-column h3.column-table-title {color: #1569ae;}
.elementor-widget-quad-table .table-cell.fourth-column a.btn:hover {color: #1569ae;background-color: #1569ae;border-color: #1569ae;}
.elementor-widget-quad-table .table-cell.fourth-icon i {color: #1569ae;}
.elementor-widget-quad-table .table-cell.fourth-icon p {color: #1569ae;}
.elementor-widget-quad-table .table-cell.fourth-icon {background-color: #1569ae;outline: 1px solid #1569ae;}