.elementor-1662 .elementor-element.elementor-element-4049b9f {margin-top: -50px;margin-bottom: 0px;}
.elementor-1662 .elementor-element.elementor-element-98123d3 {color: rgba(73,215,237,.76);font-family: "Open Sans Hebrew Condensed",Yu Gothic;font-size: 15px;font-weight: 500;}
.elementor-1662 .elementor-element.elementor-element-6302c8a {margin-top: 0px;margin-bottom: 0px;}
.elementor-1662 .elementor-element.elementor-element-3092c3b {text-align: center;}
.elementor-1662 .elementor-element.elementor-element-3092c3b .elementor-heading-title {font-family: "Overpass",Yu Gothic;font-size: 30px;font-weight: 600;}
.elementor-1662 .elementor-element.elementor-element-0ae3438 {margin-top: -10px;margin-bottom: 0px;}
.elementor-1662 .elementor-element.elementor-element-e208ee0 .elementor-image img {max-width: 88%;border-style: solid;border-width: 0px 0px 0px 0px;}
.elementor-1662 .elementor-element.elementor-element-e208ee0 .widget-image-caption {font-family: "Roboto",Yu Gothic;margin-top: 10px;}
.elementor-1662 .elementor-element.elementor-element-0278ff7 .elementor-text-editor {text-align: justify;}
.elementor-1662 .elementor-element.elementor-element-0278ff7 {color: #000;font-family: "Overpass",Yu Gothic;font-size: 15px;letter-spacing: 0px;}
.elementor-1662 .elementor-element.elementor-element-0278ff7 > .elementor-widget-container {margin: 10px 0px 0px 0px;}
.elementor-1662 .elementor-element.elementor-element-61e3527 {margin-top: 12px;margin-bottom: 0px;}
.elementor-1662 .elementor-element.elementor-element-23196c4 {text-align: center;}
.elementor-1662 .elementor-element.elementor-element-23196c4 .elementor-heading-title {font-family: "Overpass",Yu Gothic;font-size: 30px;font-weight: 600;}
.elementor-1662 .elementor-element.elementor-element-7f2a3c9 {margin-top: -10px;margin-bottom: 0px;}
.elementor-1662 .elementor-element.elementor-element-a837079 .elementor-image img {border-style: solid;border-width: 1px 1px 1px 1px;border-color: rgba(122,122,122,.48);}
.elementor-1662 .elementor-element.elementor-element-01ce50d .elementor-text-editor {text-align: justify;}
.elementor-1662 .elementor-element.elementor-element-01ce50d {color: #000;font-family: "Overpass",Yu Gothic;font-size: 15px;letter-spacing: 0px;}
.elementor-1662 .elementor-element.elementor-element-0662ee4 .elementor-divider-separator {border-top-style: solid;border-top-width: 1px;border-top-color: rgba(0,142,194,.17);width: 100%;}
.elementor-1662 .elementor-element.elementor-element-0662ee4 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
@media (min-width:768px) {.elementor-1662 .elementor-element.elementor-element-abe5249 {width: 50%;}
	.elementor-1662 .elementor-element.elementor-element-4da59b6 {width: 50%;}
	.elementor-1662 .elementor-element.elementor-element-4eba902 {width: 50%;}
	.elementor-1662 .elementor-element.elementor-element-d7f805e {width: 50%;}}