.elementor-2603 .elementor-element.elementor-element-8b9301d {margin-top: -42px;margin-bottom: 0px;}
.elementor-2603 .elementor-element.elementor-element-a2210f8 {text-align: left;}
.elementor-2603 .elementor-element.elementor-element-a2210f8.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-2603 .elementor-element.elementor-element-a2210f8 .elementor-heading-title {font-family: "Overpass",Yu Gothic;font-size: 30px;font-weight: 600;}
.elementor-2603 .elementor-element.elementor-element-8f475c3 {color: #ffa67a;font-size: 18px;letter-spacing: .3px;}
.elementor-2603 .elementor-element.elementor-element-be20d07 {color: #ffa67a;font-size: 18px;letter-spacing: .3px;}
.elementor-2603 .elementor-element.elementor-element-5520e3a {margin-top: 0px;margin-bottom: 0px;}
.elementor-2603 .elementor-element.elementor-element-93308e3 {text-align: left;}
.elementor-2603 .elementor-element.elementor-element-93308e3.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-2603 .elementor-element.elementor-element-93308e3 .elementor-heading-title {font-family: "Overpass",Yu Gothic;font-size: 30px;font-weight: 600;}
.elementor-2603 .elementor-element.elementor-element-4ca03aa {color: #ffa67a;font-size: 18px;letter-spacing: .3px;}
.elementor-2603 .elementor-element.elementor-element-156abf7 {color: #ffa67a;font-size: 18px;letter-spacing: .3px;}
.elementor-2603 .elementor-element.elementor-element-a7fef86 {margin-top: 0px;margin-bottom: 0px;}
.elementor-2603 .elementor-element.elementor-element-9419df5 {text-align: left;}
.elementor-2603 .elementor-element.elementor-element-9419df5.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-2603 .elementor-element.elementor-element-9419df5 .elementor-heading-title {font-family: "Overpass",Yu Gothic;font-size: 30px;font-weight: 600;}
.elementor-2603 .elementor-element.elementor-element-bd882eb {color: #000;font-size: 15px;letter-spacing: .2px;}
.elementor-2603 .elementor-element.elementor-element-29ad97c .elementor-text-editor {text-align: justify;}
.elementor-2603 .elementor-element.elementor-element-29ad97c {color: #000;font-size: 15px;letter-spacing: .2px;}
.elementor-2603 .elementor-element.elementor-element-e251659 {color: #000;font-size: 15px;letter-spacing: .3px;}
.elementor-2603 .elementor-element.elementor-element-5fd81e4 {color: #ffa67a;font-size: 18px;letter-spacing: .3px;}
.elementor-2603 .elementor-element.elementor-element-f52cbcb {color: #ffa67a;font-size: 18px;letter-spacing: .3px;}
.elementor-2603 .elementor-element.elementor-element-5bf469a {color: #ffa67a;font-size: 18px;letter-spacing: .3px;}
.elementor-2603 .elementor-element.elementor-element-d9215a1 {margin-top: 0px;margin-bottom: 0px;}
.elementor-2603 .elementor-element.elementor-element-683ea89 {text-align: left;}
.elementor-2603 .elementor-element.elementor-element-683ea89.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-2603 .elementor-element.elementor-element-683ea89 .elementor-heading-title {font-family: "Overpass",Yu Gothic;font-size: 30px;font-weight: 600;}
.elementor-2603 .elementor-element.elementor-element-20dd702 {color: #000;font-size: 15px;letter-spacing: .2px;}
.elementor-2603 .elementor-element.elementor-element-de7c323 .elementor-text-editor {text-align: justify;}
.elementor-2603 .elementor-element.elementor-element-de7c323 {color: #000;font-size: 15px;letter-spacing: .2px;}
.elementor-2603 .elementor-element.elementor-element-4903f6e {color: #000;font-size: 15px;letter-spacing: .3px;}
.elementor-2603 .elementor-element.elementor-element-19a9511 {color: #ffa67a;font-size: 18px;letter-spacing: .3px;}
.elementor-2603 .elementor-element.elementor-element-672cddc {color: #ffa67a;font-size: 18px;letter-spacing: .3px;}
.elementor-2603 .elementor-element.elementor-element-9035ce7 {color: #ffa67a;font-size: 18px;letter-spacing: .3px;}
.elementor-2603 .elementor-element.elementor-element-d365d69 {color: #ffa67a;font-size: 18px;letter-spacing: .3px;}
.elementor-2603 .elementor-element.elementor-element-8596987 {color: #ffa67a;font-size: 18px;letter-spacing: .3px;}
.elementor-2603 .elementor-element.elementor-element-3ce9aa5 {color: #ffa67a;font-size: 18px;letter-spacing: .3px;}