.elementor-2567 .elementor-element.elementor-element-edb7656 {margin-top: -42px;margin-bottom: 0px;}
.elementor-2567 .elementor-element.elementor-element-2353e1a {text-align: center;}
.elementor-2567 .elementor-element.elementor-element-2353e1a .elementor-image img {width: 6%;}
.elementor-2567 .elementor-element.elementor-element-b021ece {text-align: center;}
.elementor-2567 .elementor-element.elementor-element-b021ece.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-2567 .elementor-element.elementor-element-fc11547 {margin-top: 12px;margin-bottom: 0px;}
.elementor-2567 .elementor-element.elementor-element-d3f6a85 .elementor-text-editor {text-align: justify;}
.elementor-2567 .elementor-element.elementor-element-d3f6a85 {color: #000;font-family: "Overpass",Yu Gothic;font-size: 15px;letter-spacing: .2px;}
.elementor-2567 .elementor-element.elementor-element-2acc7dd .elementor-image img {width: 60%;}
.elementor-2567 .elementor-element.elementor-element-cb7e96d {margin-top: 12px;margin-bottom: 0px;}
.elementor-2567 .elementor-element.elementor-element-2fd2674 .elementor-text-editor {text-align: justify;}
.elementor-2567 .elementor-element.elementor-element-2fd2674 {color: #000;font-family: "Overpass",Yu Gothic;font-size: 15px;letter-spacing: .2px;}
.elementor-2567 .elementor-element.elementor-element-945f0ca {margin-top: 12px;margin-bottom: 0px;}
.elementor-2567 .elementor-element.elementor-element-1fd0274 .elementor-text-editor {text-align: justify;}
.elementor-2567 .elementor-element.elementor-element-1fd0274 {color: #000;font-family: "Overpass",Yu Gothic;font-size: 15px;letter-spacing: .2px;}
.elementor-2567 .elementor-element.elementor-element-1a346fc {margin-top: 12px;margin-bottom: 0px;}
.elementor-2567 .elementor-element.elementor-element-4943e20 {color: #000;font-family: "Overpass",Yu Gothic;font-size: 15px;letter-spacing: .3px;}
.elementor-2567 .elementor-element.elementor-element-4f23892 {text-align: right;}
.elementor-2567 .elementor-element.elementor-element-4f23892 .elementor-image img {width: 72%;}
.elementor-2567 .elementor-element.elementor-element-4f23892 > .elementor-widget-container {border-style: solid;border-width: 1px 0px 1px 1px;border-color: rgba(122,122,122,.15);}
.elementor-2567 .elementor-element.elementor-element-07562e8 > .elementor-widget-container {border-style: solid;border-width: 1px 1px 1px 0px;border-color: rgba(122,122,122,.15);}
@media (min-width:768px) {.elementor-2567 .elementor-element.elementor-element-68d52b5 {width: 35%;}
	.elementor-2567 .elementor-element.elementor-element-abf686d {width: 65%;}}