.elementor-2654 .elementor-element.elementor-element-6556314 {margin-top: -42px;margin-bottom: 0px;}
.elementor-2654 .elementor-element.elementor-element-d2c3652 {text-align: center;}
.elementor-2654 .elementor-element.elementor-element-d2c3652 .elementor-image img {width: 4%;}
.elementor-2654 .elementor-element.elementor-element-d2c3652 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-2654 .elementor-element.elementor-element-07fbfb6 {color: #000;font-size: 16px;letter-spacing: .2px;}
.elementor-2654 .elementor-element.elementor-element-9901436 .elementor-divider-separator {border-top-style: solid;border-top-width: 1px;border-top-color: rgba(122,122,122,.2);width: 100%;}
.elementor-2654 .elementor-element.elementor-element-9901436 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}