.elementor-596 .elementor-element.elementor-element-535e461 {margin-top: -50px;margin-bottom: 0px;}
.elementor-596 .elementor-element.elementor-element-b39ad58 {color: rgba(73,215,237,.76);font-family: "Open Sans Hebrew Condensed",Yu Gothic;font-size: 15px;font-weight: 500;}
.elementor-596 .elementor-element.elementor-element-72da3a0 {margin-top: 0px;margin-bottom: 0px;}
.elementor-596 .elementor-element.elementor-element-2b0d4d6 .elementor-image img {transition-duration: 1s;}
.elementor-596 .elementor-element.elementor-element-6f6b9c4 .elementor-image img {transition-duration: 1s;}